<!DOCTYPE html>
<head>
  <html>
  <title>Tugas Django Basic</title>
</head>
<body>
  <form action="{% url insert %}" method="POST">{% csrf_token %}
    Nama Maskapai   : <input type="text" name="airline" value="{{ airline }}"></input> </br>
    Waktu Berangkat : <input type="text" name="time" value="{{ time }}"></input> </br>
    <input type="submit" name="save" value="save">
  </form>

  <table border="1">
    <tr>
      <th>No.</th>
      <th>Maskapai</th>
      <th>Waktu</th>
      <th colspan="3">Action</th>
    </tr>
    {% for i in maskapai %}
    <tr>
      <td align="center">{{ forloop.counter }}</td>
      <td>{{ i.airline }}</td>
      <td> {{ i.time }}</td>
      <form action="{% url action %}" method="POST">{% csrf_token %}
        <td width=230px colspan="4">
          <input type="hidden" name="index" value= "{{ forloop.counter0 }}" />
          <input type="submit" name="delete" value="delete">
          <input type="submit" name="up" value="up">
          <input type="submit" name="down" value="down">
        </td>
      </form>
    </tr>
    {% endfor %}
  </table>

  <form action="{% url filter %}" method="POST">{% csrf_token %}
    <select name="maskap">
      <option value="all">-Pilih Maskapai-</option>
      {% for pil in pilihan %}
      <option value="{{ pil }}"> {{ pil }} </option>
      {% endfor %}
    </select>

    <select name="waktu">
      <option value="allwak"> -Pilih Waktu- </option>
      <option value="pagi">pagi</option>
      <option value="siang">siang</option>
      <option value="malam">malam</option>
    </select>
    <input type="submit" name="name" value="FILTER">
  </form>
</body>

</html>
