<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>This is Index For Django Dua</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <style media="screen">
    table {
      counter-reset: rowNumber-1;
    }
    table tr {
      counter-increment: rowNumber;
    }
    table tbody tr .num:before {
      content: counter(rowNumber);
      min-width: 1em;
      margin-right: 0.5em;
    }
  </style>

  <script>
  $(document).ready(function(){
    $('#save').on('click',function(){
      var str=$('#jam_terbang').val();
      var patt = new RegExp("^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$");
      var res = patt.test(str);
      if(res==false){
        alert('Please Use Time Format HH:MM');
      }
    });
    //Onhange maskapai
    $('#mask').on('change', function() {
      filter();
    });
    //OnChange waktu
    $('.wak').on('change', function() {
      filter();
    });
    function filter() {
      var isiwak = $('.wak').val();
      var isi = $("#mask").val();

      var $all = $(".allshow");
      $all.hide()

      if (isiwak === "allwak" && isi === "all") {
        $all.show();
      } else if (isiwak === "allwak" && isi !== "all") {
        $all.children("." + isi).parent().show()
      } else if (isiwak !== "allwak" && isi === "all") {
        $all.children("." + isiwak).parent().show()
      } else {
        $all.children("." + isiwak).parent().children("." + isi).parent().show();
      }

    }

  });
  </script>
</head>
<body>

  <div class="form">
    <form method="POST" action="{% url insert %}">{% csrf_token %}
      Nama Maskapai   : <input type="text" name="airline"></input> </br>
      Waktu Berangkat : <input type="text" name="time" id="jam_terbang"></input> </br>
      <input id="save" type="submit" name="save" value="save">
    </form>
  </div>

  <div class="table">
    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Maskapai</th>
          <th>Waktu</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody id="data">
        {% for i in maskapai %}
        <tr class="allshow">
          <td class="num"></td>
          <td class="{{ i.airline }}">{{ i.airline }}</td>
          <td class="{{ i.period }}"> {{ i.time }}</td>
          <form method="POST">{% csrf_token %}
            <td width=230px colspan="3">
              <a href="/delete/{{ i.index }}">Delete</a>
              {% if i.index == 1 %}
                Up
              {% else %}
                <a href="/up/{{ i.index }}">Up</a>
              {% endif %}

              {% if i.index == maskapai.count %}
                Down
              {% else %}
                <a href="/down/{{ i.index }}">Down</a>
              {% endif %}
            </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="filter">
    <select id="mask">
      <option value="all">-Pilih Maskapai-</option>
      {% for pil in pilihan %}
      <option value="{{ pil.airline }}"> {{ pil.airline }} </option>
      {% endfor %}
    </select>

    <select class="wak" name="waktu">
      <option value="allwak"> -Pilih Waktu- </option>
      <option value="pagi">pagi</option>
      <option value="siang">siang</option>
      <option value="malam">malam</option>
    </select>
  </div>
</body>
</html>
